{% load static wagtailimages_tags svg_tags %}


  <header class="{{ class }} relative z-10002">
    <div class="navbar bg-primary text-primary-content shadow-lg">
      <div class="navbar-start">
        <a href="/" class="btn btn-ghost h-auto text-inherit border-0 hover:border-0 focus:outline-none focus:ring-0" title="{{ site_settings.site_name }} - Limpieza de pozos y cámaras sépticas">
          {% if site_settings.icon %}
            <img src="{{ site_settings.icon.url }}" alt="{{ site_settings.site_name }} - Limpieza de pozos y cámaras sépticas" class="h-12 w-auto max-w-48 object-contain" />
          {% else %}
            {% inline_svg 'img/multisane.svg' class_name='h-12 w-auto max-w-48' color_var='primary-content' as logo_svg %}
            {% if logo_svg %}
              {{ logo_svg }}
            {% else %}
              <img src="{% static 'img/multisane.svg' %}" alt="{{ site_settings.site_name }} - Limpieza de pozos y cámaras sépticas" class="h-12 w-auto max-w-48 object-contain" />
            {% endif %}
          {% endif %}
        </a>
      </div>
      
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-lg uppercase">
          <li><a href="/#cotiza" class="hover:bg-black/20! transition-all duration-300 rounded-lg">Cotiza</a></li>
          <li><a href="/#clientes" class="hover:bg-black/20! transition-all duration-300 rounded-lg">Servicios</a></li>
          <li><a href="/#preguntas" class="hover:bg-black/20! transition-all duration-300 rounded-lg">Preguntas</a></li>
          <li><a href="/blog" class="hover:bg-black/20! transition-all duration-300 rounded-lg">Blog</a></li>
        </ul>
      </div>
      
      <div class="navbar-end gap-2">
<div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-1 p-2 shadow bg-primary text-primary-content rounded-box w-52">
            <li><a href="/#cotiza" class="text-lg font-medium hover:bg-black/20! transition-colors">Cotiza</a></li>
            <li><a href="/#clientes" class="text-lg font-medium hover:bg-black/20! transition-colors">Servicios</a></li>
            <li><a href="/#preguntas" class="text-lg font-medium hover:bg-black/20! transition-colors">Preguntas</a></li>
            <li><a href="/blog" class="text-lg font-medium hover:bg-black/20! transition-colors">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>