{% load static wagtailimages_tags %}
{% comment %} {% load static navigation_tags svg %} {% endcomment %}


  <header class="{{ class }}">
    <div class="navbar bg-primary text-primary-content shadow-lg">
      <div class="navbar-start">
        <a href="/" class="btn btn-ghost h-auto hover:bg-transparent">
          {% if site_settings.icon %}
            <img src="{{ site_settings.icon.url }}" alt="SerProLim - Limpieza de pozos y cámaras sépticas" class="h-12 w-auto max-w-48 object-contain" />
          {% else %}
            <img src="{% static 'img/multisane.svg' %}" alt="SerProLim - Limpieza de pozos y cámaras sépticas" class="h-12 w-auto max-w-48 object-contain" />
          {% endif %}
        </a>
      </div>
      
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-lg uppercase">
          <li><a href="/#cotiza" class="hover:bg-accent transition-all duration-300">Cotiza</a></li>
          <li><a href="/#clientes" class="hover:bg-accent transition-all duration-300">Servicios</a></li>
          <li><a href="/#preguntas" class="hover:bg-accent transition-all duration-300">Preguntas</a></li>
          <li><a href="/blog" class="hover:bg-accent transition-all duration-300">Blog</a></li>
        </ul>
      </div>
      
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-primary text-primary-content rounded-box w-52">
            <li><a href="/#cotiza" class="text-lg font-medium hover:bg-accent transition-colors">Cotiza</a></li>
            <li><a href="/#clientes" class="text-lg font-medium hover:bg-accent transition-colors">Servicios</a></li>
            <li><a href="/#preguntas" class="text-lg font-medium hover:bg-accent transition-colors">Preguntas</a></li>
            <li><a href="/blog" class="text-lg font-medium hover:bg-accent transition-colors">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>